.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  max-width: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.form > * {
  margin-bottom: 1rem;
}
